.page {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .page {
    padding-inline: 1rem;
  }
}
