@mixin disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.main {
  padding-inline: 5rem;
  padding-block: 5rem 3rem;
  background-color: #565abb;
  width: clamp(45rem, 35%, 65rem);
  color: white;
  font-size: 1.6rem;
  height: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  /* Modal styles removed */

  .header {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;

    .inputCnr {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
      width: 100%;
      min-width: 0;

      input {
        padding: 1.1rem 1.8rem;
        border-radius: 0.6rem;
        background-color: #6268c6;
        caret-color: white;
        color: white;
        font-size: 1.6rem;
        border: 1px solid transparent;

        &::placeholder {
          color: rgba(255, 255, 255, 0.4);
        }

        &:focus {
          border-color: rgb(214, 214, 3);
        }
      }

      .error {
        color: #ffb3b3;
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }

    .inputGroup {
      display: flex;
      gap: 1rem;
    }
  }

  .totalInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-top: 2px solid #5f65c3;
    padding-block: 2.5rem;
    margin-top: 1rem;

    .infoCnr {
      display: flex;
      justify-content: space-between;
    }
  }

  .checkoutBtn {
    font-size: 1.6rem;
    background-color: #4de1c1;
    color: white;
    font-weight: 600;
    padding: 1.8rem 4.5rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    &:disabled {
      @include disabled;
    }

    &:hover {
      background-color: #45d1b3;
    }

    &:active {
      background-color: #36aa91;
    }
  }
}

@media (max-width: 900px) {
  .main {
    width: 100%;
    padding-block: 5rem;
    align-items: center;

    .form {
      width: 100%;
      max-width: 450px;
    }
  }
}
